.main{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
    width: auto;
    height: 300px;
}
.image_sec{
    background-color: white;
    width: auto;
    height: 400px;

}
.qoute{
    background-color: #e5e7eb;
    width: auto;
    height: 300px;

}
.contact{
    background-color: white;
    width: auto;
    height: 200px;
}
.footer{
    background-color: #1f2937;
    width: auto;
    height: 100px;
}